pkgbase = auto-aur-mirrorlist
	pkgdesc = Auto-AUR mirrorlist to use with Pacman
	pkgver = 20240923
	pkgrel = 1
	url = https://auto-aur.pages.dev/
	arch = any
	license = GPL
	backup = etc/pacman.d/auto-aur-mirrorlist
	source = mirrorlist
	sha256sums = 0610076356852d4d142cc5a0578056c072a8405e5f618cfc6b26c55dbc1f4862

pkgname = auto-aur-mirrorlist
